<%#partial for comment creation form%>

<%= stylesheet_link_tag "comments" %>

<%#adds form that creates new comment by calling CommentsController create action. form_with call here uses array, which will build nested route, 
such as /articles/1/comments%>

<%#keep in mind the do || syntax is kind of like a function(params), defining args for a code block%>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <br>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <button class="">
        <%= form.submit class: "create-button" %>
    </button>
  </p>
<% end %>
