<%# ERB is a templating system that evaluates Ruby code embedded in a document %>

<h1>Articles</h1>

<%#list of all the articles%>
<ul>
    <%# this tag means evaluate the enclosed Ruby code (anything you could write in reg Ruby program) %>
  <% @articles.each do |article| %> <%#equal to 'for article in articles'%>
    
    <li>
      <%# this tag w/the equals sign means eval the enclosed ruby code and output the val it returns%>

      <% if false %>

      <%#This is one option%>
      <a href="/articles/<%= article.id %>">
        <%#output val returned by article.title for each article%>
        <%= article.title %>
      </a>
      
      
      <%# this is a second option, using _ helpers created by the resources method in routes%>
      <a href="<%= article_path(article) %>">
        <%#output val returned by article.title for each article%>
        <%= article.title %>
      </a>

      <% end %>

      <%#this is best option. link_to helper renders a link with its first arg as link's txt, second arg as link's destination. 
      If we pass a model obj as second arg, link_to will call the appropriate path helper to convert object to a path.
      Like if we pass article, link_to will call article_path%>
      <%= link_to article.title, article %>
      
    </li>
  <% end %>
</ul>


<%#link to create new article page%>
<%= link_to "New Article", new_article_path %>
