<!DOCTYPE html>
<html>
  <head>
    <title>DoahApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "home_out" %>
    <%= stylesheet_link_tag "home" %>

   <% routes = Rails.application.routes.url_helpers %>
  </head>

  <body>
    <main>
      <div class="grid-container">
            <!--header section-->
            <div class="Header select-none bg-blue-200 flex">
              <div class="pt-4 pl-4">
                <img src=<%= asset_path('prius_2010.png') %> alt="2010 Prius" style="width:150px" class="pl-4 pt-4"/>
              </div>
              <div class="">
                <h1 class="pt-2 pl-10">
                  <a href=<%= routes.articles_path %>>Shenandoah the Prius</a>
                </h1>
                <h2 class="pl-10 pb-2 -mt-2">In loving memory of <a href="https://obits.cleveland.com/us/obituaries/cleveland/name/marvin-miller-obituary?pid=199124989">Dr. Marvin Miller</a></h2>
              </div>
            </div>

            <!--navigation panel-->
            <div class="Nav bg-gray-900 flex flex-col">
              <!--work button-->
              <div class="p-3 text-5xl text-center font-jonks">
                <div class="nav-button group p-2 rounded-md text-white uppercase bg-blue-600">
                  <a href="/pages/car/">Car</a>
                </div>
              </div>

              <!--play button-->
              <div class="p-3 text-5xl text-center font-jonks">
                <div class="nav-button group p-2 rounded-md text-white uppercase bg-blue-600">
                  <a href="/pages/maps/">Maps</a>
                </div>
              </div>

              <!--line button-->
              <div class="p-3 text-center text-5xl font-jonks">
                <div class="nav-button group p-2 rounded-md text-white uppercase bg-blue-600">
                  <a href="/pages/stats/">Stats</a>
                </div>
              </div>

            </div>

            <!--content section-->
            <div class="Content bg-gray-200 p-14 text-2xl">
                <%#insert entire contents of view currently being rendered%>
                <%= yield %>

            </div>  <!--end content section of grid-->

          </div> <!--end grid container-->

      
    </main>
  </body>
</html>
